{% extends "master.html" %}
{% block title %}Game Detail{% endblock %}

{% block content %}
<div class="master-wrap game-detail-wrap">
    <div class="container mb-2">
        {% if errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </div>
        {% endif %}
        <form id="save-game-form" method="post" action="{% url 'save-new-game' %}">
            {% csrf_token %}
            <input type="hidden" id="game_id" name="game_id" value="{{ game.id }}">
            <div class="form-group">
                <input class="form-control form-control-lg" type="text" placeholder="Game Title" id="game_title" name="game_title"
                       minlength="{{ title_len.min}}" maxlength="{{ title_len.max}}" value="{{ game.game_title }}">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="time_limit">Time limit(sec)</label>
                        <select id="time_limit" class="form-control" name="time_limit">
                            {% for tlo in time_limit_option.option %}
                            <option {% if tlo == setting.time_limit %}selected{% endif %}>{{ tlo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <input type="hidden" name="answer_count" value="{{ setting.answer_count }}">
                        <label for="answer_count">Number of answer</label>
                        <select id="answer_count" class="form-control" disabled>
                            {% for aco in answer_count_option.option %}
                            <option {% if aco == setting.answer_count %}selected{% endif %}>{{ aco }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <label for="point_per_question">Point per question</label>
                        <select id="point_per_question" class="form-control" name="point_per_question">
                            {% for ppq in point_per_question_option.option %}
                            <option {% if ppq == setting.point_per_question %}selected{% endif %}>{{ ppq }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <label for="top_rank_count">Top rank <span style="cursor: pointer;" data-toggle="tooltip" title="Show top users rank when game finished!"><i data-feather="help-circle"></i></span></label>
                        <select id="top_rank_count" class="form-control" name="top_rank_count">
                            {% for tro in top_rank_option.option %}
                            <option {% if tro == setting.top_rank_count %}selected{% endif %}>{{ tro }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button id="save-game" class="btn btn-lg btn-warning btn-block mt-1" type="submit"><i
                        data-feather="save"></i></button>
            </div>
        </form>
        {% if game.status < 2 %}
        <div class="form-group">
            <button id="new-question" class="btn btn-lg btn-warning btn-block mt-1"><i data-feather="plus"></i> New Question</button>
        </div>
        {% endif %}
        <div class="alert alert-light question" style="cursor: pointer;" data-id="1">
            Question goes here!
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block bot-script %}
$('#exampleModalCenter').modal()
<!--Hide save button when page loaded-->
$('#save-game').hide()
<!--Show save button when any field of game form changed-->
$('#game_title').change(function() {
    $('#save-game').show()
    $('#new-question').hide()
})
$('#time_limit').change(function() {
    $('#save-game').show()
    $('#new-question').hide()
})
$('#point_per_question').change(function() {
    $('#save-game').show()
    $('#new-question').hide()
})
$('#top_rank_count').change(function() {
    $('#save-game').show()
    $('#new-question').hide()
})
<!--Call ajax when click save game button-->
$('#save-game-form').submit(function(e) {
    e.preventDefault()
    <!--call ajax to save the change-->
    $.ajax({
        type: 'POST',
        url: "{% url 'save-game' %}",
        data: $(this).serialize(),
        dataType: 'json',
        success: function (data) {
            if (data.error) {
                <!--Error goes here-->
            }
        },
    });
    <!--Hide save game button-->
    $('#save-game').hide()
    $('#new-question').show()
})
<!--Action when click question-->
$('.question').click(function() {
    console.log($(this).data('id'))
})
{% endblock %}
