{% extends "master.html" %}
{% block title %}Game Detail{% endblock %}

{% block content %}
<div class="master-wrap game-detail-wrap">
    <div class="container mb-2">
        <div class="err-area">
            {% if errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <form id="save-game-form" method="post" action="">
            {% csrf_token %}
            <input type="hidden" id="game_id" name="game_id" value="{{ game.id }}">
            <div class="form-group">
                <input class="form-control form-control-lg" type="text" placeholder="Game Title" id="game_title"
                       name="game_title"
                       minlength="{{ title_len.min}}" maxlength="{{ title_len.max}}" value="{{ game.game_title }}"
                       {{disabled}}>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="time_limit">Time limit(sec)</label>
                        <select id="time_limit" class="form-control" name="time_limit" {{disabled}}>
                            {% for tlo in time_limit_option.option %}
                            <option {% if tlo == setting.time_limit %}selected{% endif %}>{{ tlo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <input type="hidden" name="answer_count" value="{{ setting.answer_count }}">
                        <label for="answer_count">Number of answer</label>
                        <select id="answer_count" class="form-control" disabled>
                            {% for aco in answer_count_option.option %}
                            <option {% if aco == setting.answer_count %}selected{% endif %}>{{ aco }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <label for="point_per_question">Point per question</label>
                        <select id="point_per_question" class="form-control" name="point_per_question" {{disabled}}>
                            {% for ppq in point_per_question_option.option %}
                            <option {% if ppq == setting.point_per_question %}selected{% endif %}>{{ ppq }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <label for="top_rank_count">Top rank <span style="cursor: pointer;" data-toggle="tooltip"
                                                                   title="Show top users rank when game finished!"><i
                                data-feather="help-circle"></i></span></label>
                        <select id="top_rank_count" class="form-control" name="top_rank_count" {{disabled}}>
                            {% for tro in top_rank_option.option %}
                            <option {% if tro == setting.top_rank_count %}selected{% endif %}>{{ tro }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            {% if game.status in EDITABLE_STATUS %}
            <div class="form-group">
                <button id="save-game" class="btn btn-lg btn-warning btn-block mt-1" type="submit"><i
                        data-feather="save"></i></button>
            </div>
            {% endif %}
        </form>
        {% if game.status in EDITABLE_STATUS %}
        <div class="form-group">
            <button id="new-question-btn" class="btn btn-lg btn-warning btn-block mt-1"><i data-feather="plus"></i> New Question</button>
        </div>
        {% endif %}
        <div class="question-list">
            {% for question in questions %}
            <div class="alert alert-light question question-{{question.id}}" data-id="{{question.id}}">
                <span>{{question.question}}</span>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="modal fade" id="new-question-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content new-question-modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="err-area err-area-modal">
                        <div class="alert alert-danger modal-err" role="alert">
                        </div>
                    </div>
                    <form id="save-question-form">
                        {% csrf_token %}
                        <input type="hidden" name="question-id" id="question-id">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="bonus-question" name="bonus-question">
                                        <label class="custom-control-label" for="bonus-question">Is bonus question?</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control modal-input-text" name="question" id="question" placeholder="Question">
                                </div>
                            </div>
                        </div>
                        {% for acr in answer_count_range %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-1">
                                    <div class="custom-control custom-switch">
                                        <input type="radio" class="custom-control-input" id="true-answer-{{acr}}" name="true-answer" value="{{acr}}">
                                        <label class="custom-control-label" for="true-answer-{{acr}}">&nbsp</label>
                                    </div>
                                </div>
                                <div class="col-11"><input type="text" class="form-control modal-input-text" name="answer-{{acr}}" id="answer-{{acr}}" placeholder="Answer {{acr}}"></div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <div class="alert alert-warning" role="alert">
                                        <span>Note: Check the true answer!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {% if game.status in EDITABLE_STATUS %}
                    <button type="button" class="btn btn-secondary" id="save-question-btn">Save Question</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block bot-script %}
{% if game.status in EDITABLE_STATUS %}
<!--Hide save button when page loaded-->
$('#save-game').hide()
<!--Show save button when any field of game form changed-->
$('#game_title').change(function() {
    $('#save-game').show()
    $('#new-question-btn').hide()
})
$('#time_limit').change(function() {
    $('#save-game').show()
    $('#new-question-btn').hide()
})
$('#point_per_question').change(function() {
    $('#save-game').show()
    $('#new-question-btn').hide()
})
$('#top_rank_count').change(function() {
    $('#save-game').show()
    $('#new-question-btn').hide()
})

$('#save-question-btn').click(function() {
    let data = $('#save-question-form').serialize()
    data = data + '&game_id=' + $('#game_id').val()
    $.ajax({
        type: 'POST',
        url: "{% url 'save-question' %}",
        data: data,
        dataType: 'json',
        success: function (data) {
            if (data.errors) {
                $('.modal-err').html('')
                html = ''
                for(let i=0; i < data.errors.length; i++){
                    html += '<li>'+data.errors[i]+'</li>'
                }
                $('.modal-err').html(html)
                $('.err-area-modal').show()
            } else {
                if($('#question-id').val() > 0){
                    $(".question-"+data.id).html('<span>'+$('#question').val()+'</span>')
                } else {
                    html = '<div class="alert alert-light question question-'+data.id+'" data-id="'+data.id+'"><span>'+$('#question').val()+'</span></div>'
                    $('.question-list').append(html)
                }
                $('#new-question-modal').modal('hide')
            }
        },
    });
})

<!--Action when new question btn-->
$('#new-question-btn').click(function() {
    $('.modal-title').text('Add a new question')
    $('.modal-input-text').val('')
    $('#bonus-question').prop('checked', false)
    $('.err-area-modal').hide()
    $('#question-id').val(0)
    $('#new-question-modal').modal('show')
})
<!-- hide modal err -->
$('.err-area-modal').click(function() {
    $(this).hide()
})

{% endif %}

<!--Action when click question-->
$('.question-list').on('click', '.question', function() {
    var question_id = $(this).data('id')
    $('#question-id').val(question_id)
    var game_id = $('#game_id').val()
    $('.modal-title').text('Edit question')
    $('.err-area-modal').hide()
    $.ajax({
        type: 'POST',
        url: "{% url 'get-question' %}",
        data: {'csrfmiddlewaretoken': $("input[name*='csrfmiddlewaretoken']").val(), 'question_id': question_id, 'game_id': game_id},
        dataType: 'json',
        success: function (data) {
            console.log(data)
            $('#question').val(data.question)
            $('#true-answer-'+data.true_answer).prop('checked', true)
            $('#bonus-question').prop('checked', data.is_bonus)
            for(let i=0; i<data.answers.length; i++){
                $('#answer-'+data.answers[i].fields.answer_number).val(data.answers[i].fields.answer_content)
            }
            $('#new-question-modal').modal()
        },
    });
})
{% endblock %}
