{% extends "master.html" %}
{% block title %}Quiz Game{% endblock %}

{% block content %}
<div class="home-wrap">
    <div class="container">
        {% if errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        <h3 class="text-center">
            Hi, {{ user }}
            <a href="{% url 'logout' %}"><span class="badge badge-warning text-center"><i
                    data-feather="log-out"></i></span></a>
        </h3>
        <span class="badge badge-warning text-center w-100 mb-1"><h4><i
                data-feather="plus-circle"></i> New Game</h4></span>
        <span class="badge badge-warning text-center w-100"><h4><i data-feather="list"></i> Your Game</h4></span>
        {% else %}
        <ul class="nav nav-tabs" id="userTab" role="tablist">
            <li class="nav-item w-50">
                <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login-area" role="tab"
                   aria-controls="login-area"
                   aria-selected="true"><i data-feather="log-in"></i> Login</a>
            </li>
            <li class="nav-item w-50">
                <a class="nav-link" id="register-tab" data-toggle="tab" href="#register-area" role="tab"
                   aria-controls="register-area" aria-selected="false"><i data-feather="user-plus"></i> Register</a>
            </li>
        </ul>
        <div class="tab-content" id="userTabContent">
            <div class="tab-pane fade show active" id="login-area" role="tabpanel" aria-labelledby="login-tab">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <input type="text" id="username" name="username" class="form-control mt-1" placeholder="Username"
                           required="required" autofocus="" value="{{ username }}">
                    <input type="password" id="password" name="password" class="form-control mt-1"
                           placeholder="Password"
                           required="required" value="{{ password }}">
                    <button class="btn btn-lg btn-warning btn-block mt-1" type="submit">≫≫≫≫≫≫</button>
                </form>
            </div>
            <div class="tab-pane fade" id="register-area" role="tabpanel" aria-labelledby="register-tab">
                <form action="{% url 'register-user' %}" method="post">
                    {% csrf_token %}
                    <input type="text" id="reg-username" name="reg-username" class="form-control mt-1"
                           placeholder="Username"
                           required="required" autofocus="" value="{{ reg_username }}">
                    <input type="email" id="reg-email" name="reg-email" class="form-control mt-1"
                           placeholder="Email address"
                           required="required" value="{{ reg_email }}">
                    <input type="password" id="reg-password" name="reg-password" class="form-control mt-1"
                           placeholder="Password"
                           required="required" value="{{ reg_password }}">
                    <button class="btn btn-lg btn-warning btn-block mt-1" type="submit">≫≫≫≫≫≫</button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}